.DS_Store
.idea
.vscode
.ipynb_*
*.pptx
__pycache__
.venv
venv
build/
dist/
codes.txt
TinZr_Logo_PPT.pptx
.orig_docs
pkgroot
rev_notes.txt
tinzr-esp32c3-*.zip
example_codes
package_generation_codes.txt